.vscode/**
.vscode-test-web/**
src/**
out/**
node_modules/**
dist/**/test/**
.gitignore
vsc-extension-quickstart.md
webpack.config.js
esbuild.js
.yarnrc
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
llvm-artifacts/**
probe-build/**
scripts/**
documents/**
package-lock.json
DEV_README.md
media/icon.svg
CLAUDE.md
